/* coolors palet https://coolors.co/d1d1d1-dbdbdb-85c7f2-636363-4c4c4c */

html{
    font-family: ebrima, constantia, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.project-photo, .profile {
    border: #EB9A7A solid 1px;
}

.project-photo {
    height: 100px;
}
body{
    margin: 0px;
}
header {
    background-color: #2D389E;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 0px;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #6370EB;
    margin: 0px 0px 0px 0px;
    height: 80px;
    display: flex;
}

footer ul {
    display: flex;
    margin: 0px 0px 0px 0px;
    width: 30%;
}


header a:link, footer a:link {
    color: white;
    text-decoration: none;
}

header a:visited, footer a:visited {
    color: #6370EB;
}

header a:hover, footer a:hover {
    color: #EB9A7A;
}

header a:active, footer a:active {
    color: #85EB4B;
}
hr {
    background-color: #EB9A7A;
}


h1 {
    margin-left: 0px;
    margin-bottom: 10px;
}

header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding-inline-start: 0px;
}
footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    padding-inline-start: 0px;
}
h3 {
    margin-left: 10px;
}

section {
    margin: 0px 20px 10px 20px;

}

form {
    display: flex;
    width: auto;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
}

main p, main h2 {
    margin: 10px 10px 10px 10px;
}
 button {
     border-radius: 30px;
     width: 120%;
     border: solid #d1d1d1;
 }


 section li {
     width: 100%;
     text-align: left;
 }

 section li a {
     color: #85c7f2;
     text-decoration: none;
 }

 section li a:link{
     color: #EB9A7A;
 }

 section li a:visited{
     color: #2D389E;
 }

 section li a:hover{
     color: #799E64;
 }

 section li a:active{
     color: #85EB4B;
 }

 .project-group {
     display: flex;
     flex-direction: column;
 }

 .return-link a{
     text-decoration: none;
     color: #636363;
 }

 .project-group a:link{
     text-decoration: none;
     color: #2D389E;
 }

 .project-group a:visited{
    text-decoration: none;
    color: #6370EB;;
}

 .project-group a:hover{
    text-decoration: none;
    color: #EB9A7A;
}

.project-group a:active{
    text-decoration: none;
    color: #85EB4B;
}

main section h2 {
    color: #799E64;
}

 .return-link, h2{
     text-align: center;
 }

 img{
     width: 200px;
     border-radius: 20px;
 }

 .intro-group, .about-group, .contact-group{
     display: flex;
     flex-direction: column-reverse;
     align-items: center;
 }

 .project-group{
     display: flex;
     flex-direction: column;
     text-align: center;
 }

 form input{
     margin-bottom: 10px;
 }

 form textarea{
     margin-bottom: 20px;
 }

 form input, form textarea{
     font-size: 14px;
     font-family: ebrima, constantia, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .about-group li {
     width: 200px;
 }

 .about-group ul {
     list-style: disc;
 }

 .icon {
     height: 50%;
 }

 footer img {
     width: 35px;
 }

 @media all and (min-width:800px){
    header{
        flex-direction: row;
        align-items: flex-end;
    }
    header ul, .group, footer ul {
        flex-direction: row;
    }

    header ul {
        padding-inline-start: 40px;
    }

    main section ul {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    header h1 {
        margin-left: 10px;
        min-width: 50%;
    }

    section .group {
        display: flex;
        flex-direction: row;
    }

    ul.rowclass {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        padding-inline-end: 10px;
    }
    main section .intro-group {
        flex-direction: row-reverse;
        margin-left: 10px;
        margin-bottom: 10px;
        align-items: flex-start;
    }
    main section .about-group {
        flex-direction: row;
        margin-right: 10px;
    }

    main section div .contact-group {
        flex-direction: row;
        margin-right: 10px;
        justify-content: center;
        align-items: flex-start;
    }

    main section h2 {
        text-align: left;
        
    }

    main section .return-link{
        text-align: left;
        margin-left: 10px;
    }

    main section .project-group {
        flex-direction: row;
        justify-content: space-around;
    }

    main section .project-group div {
        width: 300px;
    }

    main section .project-group h3, main section .project-group img, main section .project-group div {
        text-align: center;
    }

    main section .project-group p{
        text-align: justify;
    }

    main section .about-group ul {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 50px;
    }

    footer ul {
        align-content: center;
        justify-content: space-around;
    }
    footer {
        align-content: center;
    }

}
